<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xde.mapper.RoleMapper">
    <!--实体类映射-->
    <resultMap id="RoleMap" type="Role">
        <id property="id" column="role_id"></id>
        <result property="name" column="role_name"></result>
        <result property="position" column="role_position"></result>
        <result property="brief" column="role_brief"></result>
        <result property="portrait" column="role_portrait" jdbcType="BLOB"></result>
        <result property="picture" column="role_picture"></result>
        <result property="peculiarity" column="role_peculiarity"></result>
        <result property="survival" column="role_survival"></result>
        <result property="output" column="role_output"></result>
        <result property="agility" column="role_agility"></result>
        <result property="gain" column="role_gain"></result>
        <result property="difficulty" column="role_difficulty"></result>
    </resultMap>
    <!--查询所有的式神信息-->
    <select id="getAllRoleInfo" resultMap="RoleMap">
        select * from role;
    </select>
    <!--按式神名字模糊查询单个信息-->
    <select id="getRoleInfoByName" resultMap="RoleMap" parameterType="string">
        select * from role where role_name like "%"#{name}"%"
    </select>
    <!--按式神名字查询-->
    <select id="getRoleInfoByName2" resultMap="RoleMap" parameterType="string">
        select * from role where role_name = #{name}
    </select>
    <!--按式神的id查询单个信息-->
    <select id="getRoleInfoById" resultMap="RoleMap" parameterType="int">
        select * from role where role_id = #{id}
    </select>
    <!--按式神的类型进行查询-->
    <select id="getRoleInfoByType" resultMap="RoleMap" parameterType="string">
        select * from role where role_position = #{type}
    </select>
    <!--按id查询式神的头像-->
    <select id="getRolePortrait" resultMap="RoleMap" parameterType="int">
        select role_portrait from role where role_id = #{id}
    </select>
    <!--按id查询式神的图片-->
    <select id="getRolePicture" resultType="string" parameterType="int">
        select role_picture from role where role_id = #{id}
    </select>
    <!--插入式神信息-->
    <insert id="addRoleInfo" parameterType="Role">
        insert into role values (#{id},#{name},#{position},#{brief},null,null,#{peculiarity},#{survival},#{output},#{agility},#{gain},#{difficulty})
    </insert>

    <!--修改一个式神信息-->
    <update id="changeRoleInfo" parameterType="Role">
        <if test="name!=null">
            update role set
            role_position = #{position},role_brief=#{brief},
            role_peculiarity=#{peculiarity},role_survival=#{survival},role_output=#{output},role_agility=#{agility},role_gain=#{gain},role_difficulty=#{difficulty}
            where
            role_name = #{name}
        </if>
    </update>

    <!--按id给式神设置头像-->
    <update id="setRolePortrait" parameterType="HasMap">
        <if test="portrait != null">
            update role set role_portrait=#{portrait,jdbcType=BLOB} where role_id = #{id}
        </if>
    </update>
    <!--按id给式神设置图片-->
    <update id="setRolePicture" parameterType="HasMap">
        <if test="url != null">
            update role set role_picture=#{url} where role_id = #{id}
        </if>
    </update>
    <!--删除一个式神信息-->
    <delete id="deleteRoleInfo" parameterType="String">
        delete from role where role_name = #{name}
    </delete>
</mapper>